<div class="wrapper">
  <div *ngIf="isLoading">Loading...</div>
  <div class="scheduler-wrapper is-modal">
    <bryntum-scheduler *ngIf="assistant"
                       #scheduler
                       [resources]="assistant.resources"
                       [events]="assistant.events"
                       [features]="features"
                       [startDate]="assistant.startDate"
                       [endDate]="assistant.endDate"
                       [useInitialAnimation]="false"
                       [allowOverlap]="false"
                       [enableEventAnimations]="false"
                       [rowHeight]="30"
                       [resourceMargin]="5"
                       [createEventOnDblClick]="false"
                       (onBeforeEventResizeFinalize)="onBeforeEventResizeFinalize($event)"
                       (onBeforeDragCreateFinalize)="onBeforeDragCreateFinalize($event)"
                       (onBeforeEventDropFinalize)="onBeforeEventDropFinalize($event)"
                       [columns]="columns"
                       [zoomLevel]="zoomLevel"
                       [displayDateFormat]="'YYYY-MM-DD HH:mm:ss'">
    </bryntum-scheduler>
  </div>
</div>

